/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



html, header, body, nav, h1, h3, p, div, section, address, footer {
	/* border: 1px dashed red; */
}

.pagewrapper {
  padding: 2% 5%;
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .pagewrapper {
    width: 100%;
    padding: 2%;
    margin: 0 auto;
    /* debug color */
    /* color: blue; */
  }
}

@media screen and (max-width: 500px) {
  .pagewrapper {
    width: 100%;
    padding: 1% 0;
    /* debug color */
    /* color: red; */
  }
}

nav {
	width: 100%;
  display: flex;
  flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
  margin-bottom: 20px;
}

nav a {
	padding: 10px;
	text-decoration: none;
	color: lightgrey;
	/* margin: 0 auto; */
	text-align: center;
}

nav a:hover {
	color: black;
}

.logo {
	/* margin: 0px auto 10px; */
	object-fit: scale-down;
	padding: 5px 5px;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 100%;
    order: -5;
  }
}

@media screen and (max-width: 500px) {
  nav {
    flex-flow: column;
    align-items: space-between;
  }
  nav a, .logo {
    border-bottom: 1px solid black;
    width: 100%;
  }
  nav a {
    font-size: larger;
  }
  .logo {
    order: -5;
  }
}


section {
	width: 100%;
	display: flex;
}

.flexheader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
  max-width: 500px;
	font-size: 75px;
	text-align: center;
	margin: 5px auto 15px;
	padding: 2px;
}

.lefttopheader {
	width: 50%;
	display: block;
	/* justify-content: center; */
	/* flex-wrap: wrap;
	align-items: center; */
}

.headerbutton {
	text-align: center;
	border: 1px solid black;
	width: 160px;
	margin: 15px auto 5px;
	font-size: 18px;
	color: black;
	padding: 7px 30px;
}

.headerimage {
	width: 50%;
	object-fit: contain;
	padding: 10px;
}

@media screen and (max-width: 800px) {
  .flexheader {
    margin-top: 50px;
  }
  .headerimage {
    display: none;
  }
  .lefttopheader {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .flexheader {
    margin-top: 25px;
  }
  nav {
    flex-flow: column;
    align-items: space-between;
  }
  nav a, .logo {
    border-bottom: 1px solid black;
    width: 100%;
  }
  nav a {
    font-size: larger;
  }
  .logo {
    order: -5;
  }
}

section.first-in-line {
	border-top: 1px solid black;
	margin: 50px 0 20px;
	justify-content: space-between;
}

.first-in-line div {
	display: inline-block;
	width: 50%;
	margin: 25px 0px;
	padding: 2px;
}

.middle-img {
	width: 100%;
	padding: 10px;
	display: block;
	object-fit: contain;
}

section.second-in-line {
	margin-top: 20px;
	justify-content: space-between;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid black;
}
.second-in-line div {
	display: inline-block;
	width: 33%;
	padding: 2px 5px;
}

@media screen and (max-width: 500px) {
  section.first-in-line, section.second-in-line {
    flex-flow: row wrap;
  }
  .first-in-line div, .second-in-line div {
  width: 100%;
  padding: 10px;
}
}

address {
	margin: 20px 0 20px;
}

address p {
	margin: 15px 0;
}

small {
	display: block;
	text-align: center;
	font-size: smaller;
	margin-top: 75px;
	margin-bottom: 20px;
}

/* services.html specific */
h2 {
	font-size: 20px;
}

.flowcontrol {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 10px 0;
}

.flowblock {
  display: block;
	max-width: 48%;
	border: 1px solid black;
	background-color: #F5F5F5;
  padding: 20px;
  margin: 2% 0;
}

@media screen and (max-width: 500px) {
	.flowcontrol {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-flow: column nowrap;
		align-items: space-between;
		margin: 0 auto;
	}
	.flowblock {
		max-width: 99%;
    margin: 1% 0;
    padding: 5px;
	}
}

.buttonLearnMore {
	border: 1px solid black;
  border-radius: 5px;
	width: 150px;
	margin: 20px 2px 10px;
	font-size: 14px;
	color: black;
	padding: 10px 20px;
	text-align: center;
	background-color: #FFFFF0;
}

.servicesheader {
	width: 100%;
	display: block;
	margin: 30px auto 20px;
  padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.services-header-img {
  max-width: 99%;
	display: block;
	margin: 0 auto;
  object-fit: scale-down;
}

footer {
	width: 100%;
	margin: 30px auto 20px;
	padding-top: 50px;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
}
footer p {
	padding: 5px;
  padding-left: 0px;
  max-width: 600px;
}
footer div {
	padding: 5px;
}

ul {
	margin: 10px 0px;
	list-style: square inside;
	padding: 10px 0;
}
ul li {
	padding: 5px 0;
}

footer img {
	object-fit: scale-down;
  max-width: 99%;
}

@media screen and (max-width: 800px) {
	footer {
    flex-flow: row wrap;
  }
  footer img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
	footer {
    flex-flow: row wrap;
  }
  footer img {
    display: block;
  }
}
